{% extends 'shared/_MainLayout.html' %}
{% comment %} {% load static %}
{% load render_partial %} {% endcomment %}

{% block title %}Kilava | ارتباط با ما{% endblock %}
{% block content %}

<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f br-1">
    <div class="overlay bg-vulcan op-9"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="breadcrumb-title">
    <h2>تماس با ما</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="{% url 'home' %}">صفحه نخست </a></li>
    <li>تماس با ما</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="contact-us-wrap pt-100 pb-75">
    <div class="container">
    <div class="section-title text-left style1 mb-40">
     <span>ارسال پیام</span>
    <h2>ما برای کمک به شما اینجا هستیم</h2>
    </div>
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
    <div class="contact-box">
    <div class="contact-icon"><i class="flaticon-pin"></i></div>
    <div class="contact-info">
    <h5>آدرس ما</h5>
    <p>WS20, JAFZA 25 BUILDING, SOUTH ZONE, JEBEL ALI FREE ZONE, <strong>DUBAI, UAE</strong></p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="contact-box">
    <div class="contact-icon"><i class="flaticon-email"></i></div>
    <div class="contact-info">
    <h5>ایمیل</h5>
    <a href="mailto:info@next-rise.com"><span style="font-size:20px;">info@next-rise.com</span></a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="contact-box">
    <div class="contact-icon"><i class="flaticon-call-1"></i></div>
    <div class="contact-info">
    <h5>شماره تماس</h5>
    <a href="tel:+971583035499"><span style="font-size:20px;">+971 58 303 5499</span></a>
    </div>
    </div>
    </div>
    </div>
    <div class="row ">
    <div class="col-xl-4">
    <div class="comp-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.5792715218818!2d6.773482176301534!3d51.226825731161775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ca18640efea1%3A0x24c24f89fc2ed6ec!2sNeustra%C3%9Fe%2027%2C%2040213%20D%C3%BCsseldorf%2C%20Germany!5e0!3m2!1sen!2s!4v1710558519622!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    <div class="col-xl-8">
    <div class="contact-form">
        {% if messages %}
        {% for message in messages %}
             {% if "contact_message_error" in message.extra_tags %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p class="direction">{{ message }}</p>
                </div>
            {% elif "contact_message" in message.extra_tags %}
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% comment %} <form class="form-wrap" method="post"> {% endcomment %}
   <form class="form-wrap" id="contactForm" method="post" action="{% url 'contact:contact-us' %}">
    {% csrf_token %}

    <div class="row">

    <div class="col-lg-6">
    <div class="form-group">
    {{ contact_form.fullname }}
                  {% for error in contact_form.fullname.errors %}
                                    <p class="uk-text-danger">{{ error }}</p>
                  {% endfor %}
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-6">
    <div class="form-group">
        {{ contact_form.email }}
                  {% for error in contact_form.email.errors %}
                                    <p class="uk-text-danger">{{ error }}</p>
                                {% endfor %}
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-6">
    <div class="form-group">
        {{ contact_form.call }}
                  {% for error in contact_form.call.errors %}
                                    <p class="uk-text-danger">{{ error }}</p>
                                {% endfor %}
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-6">
    <div class="form-group">
        {{ contact_form.subject }}
        {% for error in contact_form.subject.errors %}
                          <p class="uk-text-danger">{{ error }}</p>
                      {% endfor %}
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-12">
    <div class="form-group v1">
        {{ contact_form.text }}
        {% for error in contact_form.text.errors %}
                          <p class="uk-text-danger">{{ error }}</p>
                      {% endfor %}
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-12">
    <button type="submit" id="SubmitContact" class="btn style1">ارسال پیام</button>
    <div id="msgSubmit" class="h3 text-center hidden"></div>
    <div class="clearfix"></div>
    </div>

    </div>
    </form>
<div class="posts"></div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    </div>
        

{% endblock %}