{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block title %}Kilava | {{ setting.title_site }}{% endblock %}
{% block meta_seo %}
    <meta name="description" content="{{ setting.tag_description }}"/>
    <meta name="keywords" content="{{ setting.tag_keywords }}">
    <meta property="og:title" content="{{ setting.title_site }}">
    <meta property="og:description" content="{{ setting.tag_description }}">
    <meta property="og:type" content="Experience">
    <meta property="og:url" content="{{ setting.link_site }}">
    <meta property="og:image" content="{% static '/media/service/engineering-video.png' %}">
{% endblock %}
{% comment %} {% block Header-ref %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
{% endblock %} {% endcomment %}
{% block content %}


<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f br-whatwedo">
    <div class="overlay bg-vulcan op-9"></div>
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="breadcrumb-title">
    <h2>درباره کیلاوا</h2>
    <ul class="breadcrumb-menu list-style">
    <li><a href="index.html">صفحه نخست </a></li>
    <li>درباره کیلاوا</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="blog-details-wrap ptb-100">
    <div class="container">
    <div class="row gx-5">
    <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
    <article class="bg-white">
    
    <div class="post-para">
        <p>
            شرکت Kilava به عنوان یک شرکت آلمانی همواره در زمینه تأمین قطعات صنعتی، ابزاردقیق، تجهیزات دوار، تجهیزات مکانیکی و برقی به عنوان همراه قابل اعتماد شما در پروژه‌های صنعتی به کار گرفته شده است.
        </p>
    <p>
        تخصص ما در ارائه انواع قطعات صنعتی برآمده از تکنولوژی روز و تجهیزات برتر است، که این امر به ما این امکان را می‌دهد تا به مشتریان گرامی خود راهکارهایی با کیفیت و کارآمد ارائه نماییم. از تجهیزات الکترونیکی گرفته تا ماشین‌آلات دوار و تجهیزات مکانیکی، همه جنبه‌های صنعتی در دسترس ما قرار دارد.
    </p>
    <p>
        شرکت Kilava با شرکت فعال در مناقصات و همکاری با برندهای برجسته جهانی، به دنبال توسعه مداوم و کشف فرصت‌های جدید در حوزه‌های مختلف صنعتی می‌باشد. اعتماد شما، انگیزه‌ای برای ماست تا همواره بهترین و کارآمدترین خدمات را به شما ارائه دهیم.
    </p>
    <blockquote class="wp-block-quote">
    <h3>دیدگاه ما</h3>
    <p>
        چشم انداز ما جهانی به هم پیوسته و مرفه است که در آن کالاهای فیزیکی به طور یکپارچه از مبدأ خود به نقاط مورد نیاز می روند.
    </p>
    <i class="flaticon-quote-1"></i>
    </blockquote>
    <h3>عملیات بازرگانی
    </h3>
    <div class="post-img">
    <img src="/media/about/1.svg" alt="Image">
    </div>
    <h5>
        خدمات:</br>
    </h5>
    <ul class="content-feature-list list-style">
    <li><i class="las la-check-circle"></i>خدمات:
        خدمات مهندسی:(انرژی های تجدید پذیر-آب و فاضلاب-اورهال نیروگاه و  کارخانه-اعزام کارشناس خارجی)</li>
    <li><i class="las la-check-circle"></i>تجهیزات ابزاردقیق</li>
    <li><i class="las la-check-circle"></i>تجهیزات دوار</li>
    <li><i class="las la-check-circle"></i>تجهیزات مکانیکی</li>
    <li><i class="las la-check-circle"></i>تجهیزات جنرال و مواد اولیه</li>
    <li><i class="las la-check-circle"></i>تجهیزات الکتریکی</li>
    </ul>
    
    <div class="row">
    <div class="container">
    <div class="section-title style1 text-center mb-40">
    <span>OUR PORTFOLIO</span>
    <h2>See Our Latest Work</h2>
    </div>
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
    <div class="portfolio-item style3">
    <div class="portfolio-img">
    <img src="/media/about/2.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/2.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Cristiano</p>
    <h3>Mobile App</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="portfolio-item style3">
    <div class="portfolio-img">
    <img src="/media/about/3.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/3.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Tony Stark</p>
    <h3>Web Design</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-12">
    <div class="portfolio-item style3">
    <div class="portfolio-img">
    <img src="/media/about/4.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/4.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Henry</p>
    <h3>Digital Marketing</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="portfolio-item style3">
    <div class="portfolio-img">
    <img src="/media/about/5.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/5.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Jhon Dow</p>
    <h3>Digtal Marketing</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="portfolio-item style3">
    <div class="portfolio-img">
    <img src="/media/about/6.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/6.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Aljandreo</p>
    <h3>Software Testing</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="portfolio-item style3">
    <div class="overlay_shine"></div>
    <div class="portfolio-img">
    <img src="/media/about/7.jpg" alt="Image">
    <a data-fancybox="gallery" href="/media/about/7.jpg">
    <i class="flaticon-plus"></i>
    </a>
    </div>
    <div class="portfolio-info">
    <p>By Lisa Ann</p>
    <h3>Online Support</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <h5 class="post-subtitle">What are the pros And cons?</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad voluptatibus
    ratione minima dignissimos exercitationem, dolor eum expedita deleniti
    aspernatur aperiam soluta? Dicta optio illum reprehenderit quo suscipit sequi
    veritatis. Adipisicing elit. Nihil ad voluptatibus ratione minima dignissimos
    exercitationem, dolor eum expedita deleniti aspernatur aperiam soluta</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad voluptatibus
    ratione minima dignissimos exercitationem, dolor eum expedita deleniti
    aspernatur aperiam soluta? Dicta optio illum reprehenderit quo suscipit sequi
    veritatis. Adipisicing elit. Nihil ad voluptatibus ratione minima dignissimos
    exercitationem, dolor eum expedita deleniti aspernatur aperiam soluta</p>
    </div>
    </article>
    
    
    </div>
    </div>
    </div>
    </div>
    
    
    </div>
    

{% endblock %}