{% load static %}
{% load render_partial %}

<footer class="footer-wrap style2 bg-f footer-bg-1">
    <div class="overlay op-95 bg-vulcan "></div>
    <div class="footer-top pt-100 pb-60">
    <div class="container">
    <div class="row">
    <div class="footer-widget-wrap">
    <div class="footer-widget">
    <a href="{% url 'home' %}" class="footer-logo">
    <img src="/media/logo/logo-kilava.jpg" alt="Image">
    </a>
    <div class="newsletter-box">
    <p>
        
    
    </p>
    
    </div>
    <div class="social-box">
    <span style="color:white;">شبکه اجتماعی</span><br/>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-app-symbol"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-instagram-2"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="flaticon-pinterest"></i> </a></li>
    </ul>
    </div>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">کاری که ما انجام می دهیم</h4>
    <ul class="footer-menu list-style">
    <li><a  href="{% url 'engineering' %}"><i class="flaticon-next"></i>خدمات مهندسی</a></li>
    <li><a  href="https://next-rise.com/en/who-we-are/our-purpose-and-values/"><i class="flaticon-next"></i>تجهیزات ابزار دقیق</a></li>
    <li><a  href="https://next-rise.com/en/who-we-are/our-business-models-and-strategy/"><i class="flaticon-next"></i>تجهیزات دوار</a></li>
    <li><a  href="https://next-rise.com/en/who-we-are/our-business-models-and-strategy/"><i class="flaticon-next"></i>تجهیزات مکانیکی</a></li>
    <li><a  href="https://next-rise.com/en/who-we-are/our-business-models-and-strategy/"><i class="flaticon-next"></i>تجهیزات جنرال و مواد اولیه</a></li>
    <li><a  href="https://next-rise.com/en/who-we-are/our-business-models-and-strategy/"><i class="flaticon-next"></i>تجهیزات الکتریکی</a></li>
    
    </ul>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">لینک های سریع</h4>
    <ul class="footer-menu list-style">
    <li><a href="https://next-rise.com/en/who-we-are/"><i class="flaticon-next"></i>ما کی هستیم</a></li>
    <li><a href="{% url 'contact:contact-us' %}"><i class="flaticon-next"></i>تماس با ما</a></li>
    </ul>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">در تماس باشید</h4>
    <div class="contact-item">
    <i class="flaticon-pin"></i>
    <h6>آدرس</h6>
    <p><span style="font-size:16px;">No: 603 , 6th-floor Elite Business Center , Al Barsha 1 ,  Sheikh Zayed Rd  <strong>DUBAI, UAE</strong></span></p>
    </div>
    <div class="contact-item">
    <i class="flaticon-call-1"></i>
    <h6>ایمیل</h6>
    <a href="mailto:info@kilava.de"><span style="font-size:20px;">info@kilava.de</span></a>
    </div>
    <div class="contact-item">
    <i class="flaticon-email"></i>
    <h6>تلفن</h6>
    <a href="tel:+971508505101"><span style="font-size:20px;">+971 50 850 5101</span></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-bottom">
    <div class="copyright">
    <p> کلیه حقوق این سایت متعلق به <a href="{% url 'home' %}">Kilava</a> میباشد <span class="las la-copyright"></span>2024
    </div>
    </div>
    </footer>